name: Analyze Latest Pull Request on Main

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  analyze:
    name: Analyze Pull Request
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.29.1
          cache: true
          cache-sdk: true

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze Code for any Issues
        run: flutter analyze --fatal-infos --fatal-warnings

      - name: Format Code Verification
        run: dart format --output=none --set-exit-if-changed .

      - name: Run tests
        run: flutter test